{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Projet django inspiré du principe des livres dont vous êtes le héros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<h3>Vous prenez le premier bus qui arrive</h3>
  <p>Le bus vous emmène dans une ville éloignée de chez vous. Vous êtes perdu et vous ne savez pas quoi faire.<br> 
    <br> 
    Vous devez alors choisir :</p>
  <br><br>
	<button><a href="chap13">Chercher de l'aide dans la ville pour rentrer chez vous</a></button>
	<button><a href="chap14">Continuer à prendre des bus aléatoires dans l'espoir de vous rapprocher de chez vous</a></button>
</body>
<br><br>
<footer>
    <div class="footer">&copy; Juliette INFANTI, Jeremy DUSSOL, Flavien GROS & Brice TRAPPLER </div>
  </footer>
</html>