{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Projet django inspiré du principe des livres dont vous êtes le héros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<h3>Vous cherchez une autre solution</h3>
  <p>Vous trouvez une trappe cachée sous le tapis. Vous l'ouvrez et vous descendez dans un tunnel sombre et étroit. Vous marchez pendant plusieurs minutes avant d'arriver à une autre pièce. Cette fois-ci, il y a plusieurs portes et fenêtres.<br> 
    <br> 
    Vous devez alors choisir :</p>
  <br><br>
	<button><a href="chap16">Sortir par une fenêtre</a></button>
	<button><a href="chap16">Ouvrir une des portes pour continuer votre exploration</a></button>
</body>
<br><br>
<footer>
    <div class="footer">&copy; Juliette INFANTI, Jeremy DUSSOL, Flavien GROS & Brice TRAPPLER </div>
  </footer>
</html>