{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Projet django inspiré du principe des livres dont vous êtes le héros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<h3>Vous continuez à prendre des bus aléatoires dans l'espoir de vous rapprocher de chez vous </h3>
  <p>Vous prenez plusieurs bus et vous finissez par vous perdre complètement. Vous vous retrouvez dans un endroit dangereux et vous vous faites agresser. Vous réalisez que vous auriez dû chercher de l'aide dès le début.</p>
  <br><br>
	<button><a href="/histoire">Retour au début</a></button>
    <h4>FIN</h4>
</body>
<br><br>
<footer>
    <div class="footer">&copy; Juliette INFANTI, Jeremy DUSSOL, Flavien GROS & Brice TRAPPLER </div>
  </footer>
</html>