{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Projet django inspiré du principe des livres dont vous êtes le héros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<h3>Vous demandez de l'aide à une personne du village pour vous accompagner à l'ambassade</h3>
  <p>Un habitant du village accepte de vous accompagner à l'ambassade. Vous marchez ensemble jusqu'à la ville indiquée. Vous trouvez l'ambassade et l'habitant du village peut confirmer votre identité. Vous pouvez alors demander de l'aide pour rentrer chez vous.<br> 
    <br> 
    Vous devez alors choisir :</p>
  <br><br>
	<button><a href="chap15">Demander à l'ambassade de vous fournir un moyen de transport pour rentrer chez vous</a></button>
	<button><a href="chap15">Chercher un autre moyen de transport pour rentrer chez vous</a></button>
</body>
<br><br>
<footer>
    <div class="footer">&copy; Juliette INFANTI, Jeremy DUSSOL, Flavien GROS & Brice TRAPPLER </div>
  </footer>
</html>