{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Projet django inspiré du principe des livres dont vous êtes le héros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<h3>Vous restez à l'ambassade jusqu'à ce que votre identité soit vérifiée | Vous cherchez d'autres moyens de prouver votre identité, comme des photos ou des documents personnels | Vous demandez à l'ambassade de vous fournir un moyen de transport pour rentrer chez vous | Vous cherchez un autre moyen de transport pour rentrer chez vous</h3>
  <p>Malheureusement, ce fut sans succès. L'ambassade et les transports : c'est pas votre fort.</p>
  <br><br>
	<button><a href="/histoire">Retour au début</a></button>
    <h4>FIN</h4>
</body>
<br><br>
<footer>
    <div class="footer">&copy; Juliette INFANTI, Jeremy DUSSOL, Flavien GROS & Brice TRAPPLER </div>
  </footer>
</html>