{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Projet django inspiré du principe des livres dont vous êtes le héros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<h3>Vous continuez de chercher dans la pièce</h3>
  <p>Vous trouvez un vieux tournevis sous le lit. Vous retournez vers la porte et l'utilisez pour la déverrouiller. La porte s'ouvre sur un couloir sombre et sinistre.<br> 
    <br> 
    Vous devez alors choisir :</p>
  <br><br>
	<button><a href="chap16">Continuer d'explorer le couloir pour trouver une sortie</a></button>
	<button><a href="chap16">Rebrousser chemin et chercher une autre solution</a></button>
</body>
<br><br>
<footer>
    <div class="footer">&copy; Juliette INFANTI, Jeremy DUSSOL, Flavien GROS & Brice TRAPPLER </div>
  </footer>
</html>